.expense-item {
    display: flex;
}

.expense-item-left-subsection {
    flex: 25%
}

.expense-item-right-subsection {
    flex: 75%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    text-align: left;
    margin-top: 10%;
}