.expense-item-outer {
    border-style: solid;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 80%;
    height: 20%;
    justify-content: center;
    background-color: gray;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.25);
}